.contenedor{
    width:100%!important;
    height:100%!important;
    padding:0;
    display:block;
}
.background{
    width:100%!important;
    height:100%!important;
}

td .contenedor{
    color:blue;
}