.red{
    background-color: #E52D2D !important;
    color: rgb(31, 31, 31) !important;
 }
.green{
    background-color: #00A651 !important;
    color: rgb(31, 31, 31) !important;
 }
.yellow{
    background-color: #FFCE00 !important;
    color: rgb(31, 31, 31) !important;
 }